/* src/app/globals.css */

/* Usuwamy całą sekcję 'html, body { overflow: hidden; }' */
@import "react-grid-layout/css/styles.css";
@import "react-resizable/css/styles.css";
html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #2e2e2e;
}

::-webkit-scrollbar-thumb {
  background: #555555;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #6a6a6a;
}
@media print {
  body {
    background: white !important;
    overflow: visible !important; /* Pozwalamy na drukowanie całej treści */
  }

  /* Ukryj wszystko oprócz kontenera CV */
  body > div:not(.cv-page-container) {
    display: none !important;
  }

  /* Upewnij się, że kontener CV jest widoczny i zajmuje całą stronę */
  .cv-page-container {
    display: block !important;
    margin: 0 !important;
    box-shadow: none !important;
    height: auto !important; /* Automatyczna wysokość dla treści */
  }

  .cv-footer-clause {
    page-break-before: always; /* Zawsze próbuj umieścić stopkę na nowej stronie, jeśli się nie mieści */
    position: relative !important; /* W druku, stopka jest częścią przepływu dokumentu */
  }
}

.cv-section-item {
  page-break-inside: avoid;
}
pre[data-language] {
  position: relative;
  padding-top: 2.5rem !important; /* Dodatkowe miejsce na nagłówek */
}

pre[data-language]::before {
  content: attr(data-language);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 0.25rem 0.75rem;
  background-color: #333; /* Ciemne tło nagłówka */
  color: #e0e0e0; /* Jasny tekst */
  font-size: 0.8rem;
  font-family: sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  border-top-left-radius: 0.25rem; /* Zaokrąglenie rogów */
  border-top-right-radius: 0.25rem;
  border-bottom: 1px solid #444; /* Linia oddzielająca */
}
.content-prose p {
  margin-top: 1.25em;
  margin-bottom: 1.25em;
}

.content-prose h1,
.content-prose h2,
.content-prose h3,
.content-prose h4 {
  margin-top: 1.5em;
  margin-bottom: 0.8em;
  font-weight: 600;
}

.content-prose ul,
.content-prose ol {
  margin-top: 1.25em;
  margin-bottom: 1.25em;
  padding-left: 1.75em;
}

.content-prose li {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.content-prose ul {
  list-style-type: disc;
}

.content-prose ol {
  list-style-type: decimal;
}

.content-prose a {
  color: #1976d2; /* Kolor linków z domyślnego motywu MUI */
  text-decoration: underline;
}

.content-prose blockquote {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  padding-left: 1em;
  border-left: 0.25em solid #e0e0e0;
  color: #555;
}
